{% extends "test_view/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    
    <style>
        body {
            margin-left: 30px;
            margin-top: 60px;
            text-align: center;
            color: white;
            background: linear-gradient(to right, #3A89C2,#090D16);
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Incorrect URL</h1>
        <h2>Go Back To Home</h2>
    </div>    
{% endblock %}    
</body>
</html>